language: php
php:
  - "5.4"
before_install:
  - cd ..
  - pwd
  - ls
  - git clone https://atulatri@github.com/atulatri1/build
  - cd build
  - pwd
  - whereis php
  - chmod +x composer.php
  - php composer.php
  - cd ..
  - cd travistest
script: phpunit .
notifications:
  webhooks:
    urls:
      - http://hooks.mydomain.com/travisci
