language: php
php:
  - "5.4"
before_install:
  - cd ..
  - pwd
  - ls
  - git clone https://atulatri@github.com/atulatri1/build
  - cd build
  - pwd
  - ls
  - whereis php
  - php -r "echo 'test';"
  - /usr/bin/php -r "echo 'test2';"
  - chmod +x composer.php
  - ./composer.php
