language: php
php:
  - "5.4"
before_install:
  - cd ..
  - pwd
  - ls
  - git clone https://atulatri@github.com/atulatri1/build
  - cd build
  - pwd
  - whereis php
  - chmod +x composer.php
  - php composer.php
  - cd ..
  - cd travistest
deploy:
  provider: s3
  access_key_id: "YOUR AWS ACCESS KEY"
  secret_access_key: "YOUR AWS SECRET KEY"
  bucket: "S3 Bucket"
notifications:
  webhooks:
    urls:
      - http://hooks.mydomain.com/travisci
